.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.relatedproducts hr{
    width: 200px;
    border: 4px solid;
    border-radius: 10px ;
    background: #252525;
}

.relatedproducts-item{
    display: flex;
    margin: 30px;
    gap: 30px;
}