.loginsignup{
    width: 100%;
    height: 90vh;
    background: #fffbae;
    padding: 50px 0px;
    margin-bottom: 50px;
}

.loginsignup-container{
    width: 400px;
    height: 430px;
    background: white;
    margin: auto;
    padding: 30px 50px;
    padding-right: 70px;
    border-radius: 10px;
}

.loginsignup-container h1{
    font-size: 25px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 20px;
}

.loginsignup-fields input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
}

.loginsignup-container button{
    width: 400px;
    height: 50px;
    color: white;
    background: #EB423F;
    margin-top: 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 3px;
}

.loginsignup-login{
    margin: 18px 0px;
}

.loginsignup-login span{
    color: #EB423F;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}